absl-py==0.10.0
certifi==2020.6.20
click==7.1.2
cycler==0.10.0
Flask==1.1.2
-e git+https://github.com/Joeclinton1/google-images-download.git@620e7f54ea29631e5e7d8a2b82a16a40932bf42a#egg=google_images_download
google-pasta==0.2.0
grpcio==1.31.0
gunicorn==20.0.4
install==1.3.3
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
numpy==1.19.1
pandas==1.1.1
Pillow==7.2.0
pipupgrade==1.7.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pykiwoom==0.0.6
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
rsa==4.6
selenium==3.141.0
six==1.15.0
tensorflow-estimator==2.3.0
urllib3==1.25.10
Werkzeug==1.0.1
wrapt==1.12.1
